@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");

/* https://app.eu1.exponea.com/p/vitaminstore-dev/data/assets/files/folder/2d10ef98-7dfe-11ee-84f8-22b0744f3e73 */
@font-face {
  font-display: swap;
  font-family: "canela";
  font-style: normal;
  font-weight: 300;
  src: url(https://storage.googleapis.com/eu1-app-storage/5be59e96-6dc7-11ee-9215-564bf3f146bd/media/original/1551bf0c-7e00-11ee-a2f3-523ae167680a)
      format("woff2"),
    url(https://storage.googleapis.com/eu1-app-storage/5be59e96-6dc7-11ee-9215-564bf3f146bd/media/original/14d75578-7e00-11ee-b83f-523ae167680a)
      format("woff");
}

@font-face {
  font-display: swap;
  font-family: "canela";
  font-style: normal;
  font-weight: 400;
  src: url(https://storage.googleapis.com/eu1-app-storage/5be59e96-6dc7-11ee-9215-564bf3f146bd/media/original/164dd4f4-7e00-11ee-a6c5-523ae167680a)
      format("woff2"),
    url(https://storage.googleapis.com/eu1-app-storage/5be59e96-6dc7-11ee-9215-564bf3f146bd/media/original/15d51b7c-7e00-11ee-92ab-523ae167680a)
      format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "barlow", blinkmacsystemfont, -apple-system, "Segoe UI", roboto,
    helvetica, arial, sans-serif;
}

body {
  background: white;
  color: #2a4b5a;
}

h1,
h2 {
  line-height: 1.3;
  color: #123444;
  font-weight: 300;
  letter-spacing: 0.02em;
  font-family: "canela", verdana, helvetica, arial, sans-serif;
}

h1 {
  font-size: 24px;
  margin: 32px 0;
}

h2 {
  font-size: 20px;
  margin: 28px 0;
}

p {
  margin: 0;
  line-height: 1.6;
}

.consent-banner {
  position: relative;
}

.consent-banner__image {
  background: #fcf9f3;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding-top: 60%;
  position: relative;
}

.consent-banner__image picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.consent-banner__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.consent-banner__info {
  display: none;
  position: absolute;
  top: 50%;
  width: 16%;
  right: 4%;
  transform: translateY(-50%);
  margin: 0 auto;
}

.consent-banner__info img {
  width: 100%;
  height: auto;
}

.consent-alert {
  border-left: 5px solid #7d939d;
  background: #eaedee;
  padding: 10px;
  border-radius: 4px;
  font-weight: 500;
  margin: -10px 0 20px;
}

.consent-alert#errorAlert {
  display: none;
}

.consent-alert.is-success {
  color: #3b7a14;
  border-left: 5px solid #3b7a14;
  background: #cadeb5;
}

.consent-alert.is-error {
  color: #ad2a01;
  border-left: 5px solid #ad2a01;
  background: #f7b6a2;
}

.consent-content {
  margin: 0 auto;
  padding: 0 10px 40px;
}

.consent-content form {
  margin: 28px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.consent-content label {
  display: flex;
  align-items: flex-start;
  user-select: none;
  cursor: pointer;
}

.consent-content label .description {
  font-size: 14px;
  font-style: italic;
}

.consent-content input[type="checkbox"] {
  display: none;
}

.consent-content input[type="checkbox"] + .checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid #7d939d;
  background-color: #fff;
  margin-right: 10px;
}

.consent-content input[type="checkbox"] + .checkmark::before {
  display: none;
  content: "✔";
}

.consent-content input[type="checkbox"]:checked + .checkmark::before {
  display: block;
}

.consent-content button {
  margin-top: 8px;
  width: fit-content;
  color: #ffffff;
  cursor: pointer;
  background: #2a4b5a;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 20px;
  height: 48px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.consent-content button:hover {
  background-color: #123444;
}

@media (min-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  .consent-alert {
    padding: 10px 20px;
  }

  .consent-banner {
    overflow: hidden;
    max-height: 500px;
  }

  .consent-banner__image {
    padding-top: 26%;
  }

  .consent-banner__image picture {
    max-height: 500px;
  }

  .consent-banner__info {
    display: block;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  .consent-content {
    max-width: 750px;
  }
}

@media (min-width: 1200px) {
  .consent-content {
    max-width: 860px;
  }
}
